#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .addEventBtn {
    background-color: #ff93e2;
    border: 5px solid #ff0000;
    border-radius: 15px;
    color: rgb(255, 251, 251);
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .addEventBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(249, 122, 236, 0.938), 0 17px 50px 0 rgba(247, 138, 221, 0.905);
  }
  
  .deleteEventBtn {
    background-color: #ff93e2;
    border: 5px solid #ff0000;
    border-radius: 15px;
    color: rgb(255, 251, 251);
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .editEventBtn {
    background-color: #ff93e2;
    border: 5px solid #ff0000;
    border-radius: 15px;
    color: rgb(255, 251, 251);
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .eventList{
    background-color: #f79ade;
    border: 5px solid #ff0000;
    border-radius: 15px;
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    aspect-ratio: 1 / 1;
  
  
  
  }